.heroheader p {
  font-family: "Plus Jakarta Display", sans-serif;
  font-size: 52px;
  line-height: 67px;
  text-align: center;
  font-weight: 700;
}

.herotextcontainer {
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

.heroheader {
  width: 830px;
  margin: 0 auto;
}

.herosectioncontainer {
  margin-top: 130px;
  padding: 0 90px;
  justify-content: center;
}

.herosubheading {
  width: 618px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.herosubheading p {
  font-family: "Inter";
  font-size: 20px;
  text-align: center;
  color: #505a73;
  font-size: 20px;
}

.herobutton {
  outline: none;
  border: none;
  border-radius: 100px;
  white-space: nowrap;
  background-color: #c91c5a;
  color: white;
  margin-left: 5px;
  font-family: Inter;
  font-weight: 600;
  font-size: 20px;
  padding: 24px 32px;
}

.heroformcontainer {
  justify-content: center;
  margin: 40px 0;
  align-items: center;
  flex-direction: row;
  display: flex;
}

.heroinputcontainer input {
  border: none;
  background-color: #dde3f0;
  outline: none;
  font-size: 20px;
  width: 50%;
}

.heroinputcontainer input:active {
  border: none;
  background-color: #dde3f0;
}

.heroinputcontainer {
  font-weight: 600;
  font-family: Inter;
  align-items: center;
  background-color: #dde3f0;
  border-radius: 100px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  padding: 0 30px;
  margin-right: 20px;
  width: fit-content;
}

@media screen and (max-width: 1023px) {
  .heroformcontainer {
    flex-direction: column;
    justify-content: center;
  }

  .herobutton {
    margin-top: 30px;
  }

  .heroinputcontainer {
    margin: 0;
    justify-content: center;
    flex: 1;
  }

  .heroheader {
    margin: 0 auto;
    width: 90%;
  }

  .herosubheading {
    width: 90%;
  }

  .heroheader p {
    font-size: 38px;
  }

  .herosectioncontainer {
    margin-top: 0;
    padding: 0 30px;
  }
}

@media screen and (max-width: 767px) {
  .herosubheading p {
    font-family: Inter;
    text-align: center;
    color: #505a73;
    font-size: 24px;
    margin: 20px 10px;
    font-weight: 600;
  }

  .herobutton {
    padding: 15px 10%;
  }

  .herosubheading,
  .heroheader {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .heroheader p {
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
    width: fit-content;
  }

  .herosubheading p {
    font-size: 22px;
  }

  .heroinputcontainer {
    padding: 10;
    border: 0px;
    font-size: 14px;
    width: fit-content;
  }

  .herobutton {
    padding: 12px 10%;
  }
  .heroinputcontainer input {
    flex: 0.5;
    font-size: 14px;
  }

  .heroinputcontainer {
    padding: 0;
    justify-content: center;
  }

  .heroicon {
    display: none;
  }
}
